@import "~font-awesome/css/font-awesome.min.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Tahoma, sans-serif;
}

.home {
  padding: 22px 30px 30px;

  &__title {
    font-size: 24px;
    line-height: 34px;
    color: #222D35;
    margin-bottom: 18px;
  }

  &__films {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 22px;
  }
}

.search {
  display: flex;
  align-items: center;
  position: relative;

  &__icon {
    position: absolute;
    color: #BFBFBF;
    left: 12px;
  }

  &__field {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    font-size: 15px;
    line-height: 20px;
    color: black;
    padding: 9px 20px 9px 39px;

    &::placeholder {
      color: #C3D0D8;
    }
  }
}

.film {
  display: flex;
  flex-direction: column;
  flex-basis: 32%;
  padding-bottom: 12px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 22px;

  &:nth-child(3n+2) {
    margin-left: 2%;
    margin-right: 2%;
  }

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 8px rgba(78, 116, 152, 0.2);
    border-radius: 8px;
    z-index: -1;
  }

  &__poster {
    border-radius: 4px 4px 0 0;
    width: 100%;
  }

  &__description {
    display: flex;
    flex-direction: column;
    padding-left: 11px;
  }

  &__name {
    font-size: 15px;
    line-height: 20px;
    color: #108CE5;
    margin-top: 12px;
  }

  &__producer {
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #536069;
  }
}

.more-films {
  background: #108CE5;
  border-radius: 4px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  padding: 7px 0;
  border: none;
  outline: none;
  max-width: 190px;
  margin: 9px auto auto;
  cursor: pointer;
}

.loader {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 50px auto;
  animation: fa-spin 2s infinite linear;
  font-size: 40px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.failed-search {
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .film {
    flex-basis: 100%;
    width: 100%;

    &:nth-child(3n+2) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
